@import "vars.css";

@media only screen and (min-width: 769px) and (orientation: landscape) {
    #calc {
        position: absolute;
        top: 10vh;
        bottom: 10vh;
        left: 50%;
        width: 30vw;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        align-items: stretch;
        justify-content: center;
        padding: 4vh;
        border-radius: 5vh;
    }

    #scr {
        flex-basis: 15%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*background: var(--input-color);*/
        border-radius: 2vh;
        padding: 2vh;
        margin-bottom: 2vh;
    }

    #scr > *:not(#res) {
        margin: 0 2vh 0 0;
    }

    #scr > h1 {
        font-size: 4vh;
    }

    #scr > h2 {
        opacity: 0.5;
        font-weight: normal;
    }

    #scr > #baselp {
        opacity: 0.5;
    }

    #res {
        margin: 0;
    }

    #keyb {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: stretch;
        justify-content: space-evenly;
    }

    #numbs {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    #numbs > div {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }

    #opem {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    #keyb button {
        border-radius: 2vh;
        flex-grow: 1;
        font-size: 3vh;
        font-weight: lighter;
    }

    #opem > button:not(:last-of-type), #numbs button:not(#numbs > div:last-of-type > button) {
        margin-bottom: 2vh;
    }

    #numbs button {
        margin-right: 2vh;
    }

    #opem button, #entr {
        font-weight: bold !important;
    }

    #opem button {
        background: var(--input-hover-color);
    }

    #opem button:hover {
        background: var(--highlight-hover-color);
    }

    .highlight {
        background: var(--highlight-color);
        transition: background 0.25s;
    }

    .highlight:hover {
        background: var(--highlight-hover-color);
    }

}

@media only screen and (max-width: 768px), (orientation: portrait) {
    #calc {
        position: absolute;
        top: 5vh;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: var(--bg-color);
        padding: 5vh;
    }

    #scr {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 2vh;
        padding: 2vh;
        margin-bottom: 2vh;
    }

    #scr > *:not(#res) {
        margin: 0 2vh 0 0;
    }

    #scr > h1 {
        font-size: 4vh;
    }

    #scr > h2 {
        opacity: 0.5;
        font-weight: normal;
    }

    #scr > #baselp {
        opacity: 0.5;
    }

    #res {
        margin: 0;
    }

    #keyb {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        align-items: stretch;
        justify-content: space-evenly;
    }

    #numbs {
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    #numbs > div {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }

    #opem {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    #keyb button {
        border-radius: 2vh;
        flex-grow: 1;
        font-size: 3vh;
    }

    #numbs button {
        margin-top: 2vh;
    }

    #numbs button:not(:last-of-type), #opem button:not(:last-of-type) {
        margin-right: 2vh;
    }

    #opem button, #entr {
        font-weight: bold !important;
    }

    #opem button {
        background: var(--input-hover-color);
    }

    #opem button:hover {
        background: var(--highlight-hover-color);
    }

    .highlight {
        background: var(--highlight-color);
        transition: background 0.25s;
    }

    .highlight:hover {
        background: var(--highlight-hover-color);
    }

}