@import "base.css";
@import "calc.css";

@media only screen and (min-width: 769px) and (orientation: landscape) {
    body {
        background: var(--bg);
        margin: 0;
        color: var(--text-color);
        font-family: sans-serif;
        animation: hewwo 1s;
    }

    #mainwin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;
    }

    #mainwin > div {
        background: var(--bg-color);
        backdrop-filter: blur(8px);
        padding: 32px;
        border-radius: 32px;
    }

    #p1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #p2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

}
