@import "vars.css";
@import "calc.css";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


@media only screen and (min-width: 769px) and (orientation: landscape) {
    body {
        background: var(--bg) no-repeat center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        margin: 0;
        overflow-x: hidden;
        color: var(--text-color);
        font-family: sans-serif;
        font-size: 2vh;
        text-align: center;
    }

    #mainwin {
        position: absolute;
        top: 10vh;
        bottom: 10vh;
        left: 10vh;
        right: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #players {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-grow: 1;
        margin-bottom: 4vh;
        justify-content: space-between;
    }

    #players > div {
        background: var(--bg-color);
        flex-basis: 49%;
        /*flex-grow: 1;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5vh;
        transition: background 0.25s;
    }

    #players > div:hover {
        background: var(--bg-hover-color);
    }

    #players h1 {
        font-family: Orbitron, sans-serif;
        font-weight: 600;
        font-size: 6vw;
        margin: 2vh;
    }

    #players h2 {
        font-weight: normal;
        opacity: 0.5;
        margin: 0;
    }

    #players h3 {
        margin: 0;
        width: fit-content;
        padding: 2vh;
        font-size: 3vh;
        background: var(--input-color);
        border-radius: 2vh;
    }

    #tools {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40%;
    }

    #tools > div {
        background: var(--bg-color);
        padding: 5vh;
        border-radius: 5vh;
    }

    #tools > div:not(#tools > div:last-of-type) {
        margin-right: 2%;
    }

    #timerd {
        flex-basis: 25%;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #timerd h2 {
        font-size: 4vh;
        margin: 0;
    }

    #timerd h3 {
        font-size: 2vh;
        margin: 0 0 2vh;
        font-weight: normal;
    }

    #timertools {
        display: flex;
        flex-direction: row;
    }

    #timertools button:first-of-type {
        border-radius: 10vh 0 0 10vh;
    }

    #timertools button:last-of-type {
        border-radius: 0 10vh 10vh 0;
    }

    #timertools button {
        padding: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #timertools button > img {
        height: 4vh;
    }

    #accessories {
        background: var(--bg-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #accessories button {
        height: 20vh;
        width: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #accessories button > img {
        height: 10vh;
    }

    #accessories button > p {
        margin: 1vh 0 0;
    }

    #notebook {
        background: var(--bg-color);
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        overflow: scroll;
        border-radius: 5vh;
    }

    #notebook > div {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        align-content: stretch;
        overflow: hidden;
    }

    #notebook input {
        padding: 2vh;
    }

    #notebook > div > input:last-of-type {
        flex-grow: 1;
        font-size: 3vh;
    }

    input, select, button {
        font-size: 2vh;
        text-align: center;
        color: var(--text-color);
        border: none;
        background: var(--input-color);
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        transition: background 0.25s;
    }

    input:hover, select:hover, button:hover {
        background: var(--input-hover-color);
    }

    .first-elem {
        border-radius: 2vh 0 0 2vh;
    }

    .last-elem {
        border-radius: 0 2vh 2vh 0;
    }

    .round-elem {
        border-radius: 2vh;
    }

    .tl {
        border-top-left-radius: 2vh;
    }

    .tr {
        border-top-right-radius: 2vh;
    }

    .bl {
        border-bottom-left-radius: 2vh;
    }

    .br {
        border-bottom-right-radius: 2vh;
    }
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    body {
        background: var(--bg) no-repeat center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        margin: 0;
        overflow-x: hidden;
        color: var(--text-color);
        font-family: sans-serif;
        font-size: 2vh;
        text-align: center;
    }

    #p1 {
        height: 35%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    #p2 {
        height: 35%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #players > div {
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: background 0.25s;
    }

    #players > div:hover {
        background: var(--bg-hover-color);
    }

    #players h1 {
        font-family: Orbitron, sans-serif;
        font-weight: 600;
        font-size: 15vw;
        margin: 2vh;
    }

    #players h2 {
        font-weight: normal;
        opacity: 0.5;
        margin: 0;
    }

    #players h3 {
        margin: 0;
        width: fit-content;
        padding: 2vh;
        font-size: 3vh;
        background: var(--input-color);
        border-radius: 2vh;
    }

    #timerd {
        background: var(--bg-color);
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 26%;
        transform: translate(0,-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #timerd h2 {
        font-size: 4vh;
        margin: 0;
    }

    #timerd h3 {
        font-size: 2vh;
        margin: 0 0 2vh;
        font-weight: normal;
    }

    #timertools {
        display: flex;
        flex-direction: row;
    }

    #timertools button:first-of-type {
        border-radius: 10vh 0 0 10vh;
    }

    #timertools button:last-of-type {
        border-radius: 0 10vh 10vh 0;
    }

    #timertools button {
        padding: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #timertools button > img {
        height: 4vh;
    }

    #accessories {
        display: none;
    }

    #notebook {

        display: none;
    }

    input, select, button {
        font-size: 2vh;
        text-align: center;
        color: var(--text-color);
        border: none;
        background: var(--input-color);
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        transition: background 0.25s;
    }

    input:hover, select:hover, button:hover {
        background: var(--input-hover-color);
    }

    .first-elem {
        border-radius: 2vh 0 0 2vh;
    }

    .last-elem {
        border-radius: 0 2vh 2vh 0;
    }

    .round-elem {
        border-radius: 2vh;
    }

    .tl {
        border-top-left-radius: 2vh;
    }

    .tr {
        border-top-right-radius: 2vh;
    }

    .bl {
        border-bottom-left-radius: 2vh;
    }

    .br {
        border-bottom-right-radius: 2vh;
    }
}