@import "base.css";

@media only screen and (min-width: 769px) and (orientation: landscape) {
    body {
        background: var(--bg) no-repeat center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        color: var(--text-color);
        font-family: sans-serif;
        font-size: 2vh;
        margin: 0;
        animation: Hewwo 1s;
    }

    #mainwindow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--bg-color);
        padding: 0 5vw;
        width: 25vw;
        overflow: scroll;
    }

    #mainwindow > img {
        height: 10vw;
    }

    #mainwindow > p {
        margin: 0;
        opacity: 0.5;
    }

    #mainwindow > div {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 4vh;
        overflow: scroll;
    }

    #mainwindow > div > * {
        flex-grow: 1;
    }

    input, select, button {
        height: 6vh;
        padding: 0;
        font-size: 1.75vh;
        text-align: center;
        color: var(--text-color);
        border: none;
        background: var(--input-color);
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        transition: background 0.25s;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    input:hover, select:hover, button:hover {
        background: var(--input-hover-color);
    }

    #more, #less {
        font-weight: bold;
        font-size: 2.5vh;
    }

    #buttons > button:nth-of-type(2) {
        margin: 0 1vh;
    }

    .first-elem {
        border-radius: 10vh 0 0 10vh;
    }

    .last-elem {
        border-radius: 0 10vh 10vh 0;
    }

    .round-elem {
        border-radius: 10vh;
    }

    .highlight {
        background: var(--highlight-color);
        transition: background 0.25s;
    }

    .highlight:hover {
         background: var(--highlight-hover-color);
    }
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    body {
        background: var(--bg) no-repeat center;
        background-size: cover;
        overflow-x: hidden;
        color: var(--text-color);
        font-family: sans-serif;
        font-size: 2vh;
    }

    #mainwindow {
        border-radius: 2vh 2vh 0 0;
        position: absolute;
        top: 5vh;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: var(--bg-color);
        padding: 5vh 5vh 0;
    }

    #mainwindow > img {
        width: 40vw;
    }

    #mainwindow > p {
        margin: 0;
        opacity: 0.5;
    }

    #mainwindow > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 4vh;
    }

    #mainwindow > div > * {
        flex-grow: 1;
    }

    input, select, button {
        font-size: 2vh;
        height: 5vh;
        padding: 0;
        text-align: center;
        color: var(--text-color);
        border: none;
        background: var(--input-color);
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        transition: background 0.25s;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    input:hover, select:hover, button:hover {
        background: var(--input-hover-color);
    }

    #more, #less {
        font-weight: bold;
        font-size: 2.5vh;
    }

    #buttons > button {
        margin: 0 0 1vh;
    }

    .first-elem {
        border-radius: 2vh 2vh 0 0;
    }

    .last-elem {
        border-radius: 0 0 2vh 2vh;
    }

    .round-elem {
        border-radius: 10vh;
    }

    .highlight {
        background: var(--highlight-color);
        transition: background 0.25s;
    }

    .highlight:hover {
        background: var(--highlight-hover-color);
    }
}