:root[data-theme="theme-dark"] {
    --bg: url("../im/bg-dark.png");
    --text-color: #FFFFFF;
    --bg-color: #101010;
    --bg-hover-color: #5b001f;
    --input-color: #303030;
    --input-hover-color: #5b001f;
    --highlight-color: #505050;
    --highlight-hover-color: #FF0055;
}

:root[data-theme="theme-light"] {
    --bg: url("../im/bg-light.png");
    --text-color: #202020;
    --bg-color: #FFFFFF;
    --bg-hover-color: #FF99C5;
    --input-color: #d0d0d0;
    --input-hover-color: #ff8ebe;
    --highlight-color: #e0e0e0;
    --highlight-hover-color: #ff2d87;
}